.Container {
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(./assets/images/Jungle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.GameWrapper {
  background-color: rgba(7, 172, 35, 0.89);
  border: 1px solid black;
  padding: 20px;
  height: auto;
}

.Canvas {
  background-color: lightgreen;
}

.Scoreboard {
  background-color: black;
  color: whitesmoke;
  font-family: fantasy;
  font-size: large;
  width: 24vw;
  min-height: 20vh;
  line-height: 2;
  margin: 0 auto;
}

.Headings {
  font-family: cursive;
  font-size: larger;
}

.Buttons {
  width: 50px;
  height: 50px;
  background-color: white;
  line-height: 3;
  border-radius: 10px;
  border: 1px solid #80808094;
}

.FlexConntainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
}

.Startbutton {
  width: 20vw;
  background-color: #ffae00;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  font-family: cursive;
  font-size: x-large;
  margin: 10px auto;
  border-radius: 20px;
}

.Currentscore {
  width: 100px;
  height: 40px;
  font-size: x-large;
  font-weight: 600;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.modal.open {
  display: flex;
  opacity: 1;
}

.modal.closed {
  opacity: 0;
  pointer-events: none;
}

.modal-content {
  background-color: #2e3837;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 400px;
  color: #dcedff;
  display: grid;
}

.SubmitButton {
  background-color: #2e3837;
  border: 1px solid #8f91a2;
  border-radius: 5px;
  height: 34px;
  font-size: larger;
  color: #dcedff;
  text-align: center;
  width: 83px;
  margin: 0 auto;
}

.TextField {
  background-color: #2e3837;
  border: 1px solid #8f91a2;
  border-radius: 5px;
  height: 30px;
  color: #dcedff;
  text-align: center;
  margin: 10px;
}

.GameOverText {
  color: #c71010;
  font-weight: bold;
  font-family: cursive;
  margin-block: unset;
  font-size: x-large;
}
